* {
    margin: 0;
    padding: 0;
}


/*----- SCROLL BUTTON MOVER -----*/

html {
    scroll-behavior: smooth;
  }
  
  section#down {
    scroll-margin-top: 100px;
  }
  /* Adjust the scroll position for the "About Me" section */
  section#about {
    scroll-margin-top: 80px; 
  }
  
  /* Adjust the scroll position for the "Education" section */
  section#education {
    scroll-margin-top: 10px; 
  }

  
/*----- NAV BAR -----*/
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #414141;
    z-index: 99;
}

.nav_content {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    margin-left: 5rem;
    margin-right: 2rem;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #FFB55E;
    transition: 0.3s;
}

nav .logo a:hover {
    color: #FFD29E;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: #FFB55E;
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li {
    position: relative;
}

.ul-lisa {
    gap: 0;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color:#FFF2E6;
    transition: 0.3s;
}

ul li a:hover {
    transition: left;
    border-bottom-color: #FFB55E;
    color: #FFD29E;
}

ul li a img {
    width: 35px; 
    height: 35px; 
    border: none; 
}

ul li.no-hover a{
    margin-right: 2px;
    background-color: transparent;
    transition: none;
}

ul li.no-hover a:hover{
    border-top-color: transparent;
    border-bottom-color: transparent;
}

ul li:last-child a {
    margin-right: 5rem; 
}

/*----- NAV DROPDOWN MENU -----*/

.dropdown-menu {
    display: none;
}

ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: #414141;
}

.dropdown-menu ul {
    display: block;
    margin: 10px;
}

.dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}


/*----- HOME PAGE ----- */

#home {
    height: 70vh;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    margin: 0px;
    object-fit: cover;
    z-index: -1;
}



.photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 73, 73, 0.5); 
}

.container {
    color: #FFB55E;
    text-align: center;
    position: relative;
    z-index: 1;
    align-items: center;
    padding-top: 370px;
    font-size: 30px;
    letter-spacing: 10px;
}

.joon {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.tekst1 {
    color: #FFF2E6;
}


/*----- ABOUT ME -----*/
.about {
    width: 100%;
    padding: 78px 0px;
    background-color: #2E2D2C;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #FFB55E;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    color: #FFF2E6;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: #FFB55E;
    color: #2E2D2C;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: #FFD29E;
    border: 2px solid #FFD29E;
    cursor: pointer;
}

.kriips1 {
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    background-color: #FFD29E;
}

.kriips2 {
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    background-color: #FFD29E;
}

/*----- ALBUMS -----*/
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2E2D2C;
}

.pic {
    position: relative;
    max-width: 400px;
}

.pic img {
    width: 100%;
    height: 95%;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
}

.pic:hover .image-container img {
    filter: blur(2px); /* Apply blur to the image on hover */
    position: relative;
}

.pic:hover .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.5); /* Adjust the color and opacity as needed */
    transition: background 5s;
}

.pic:hover .text-container {
    opacity: 1; /* Show the text on hover */
}

/*----- WHEN OPENING IMAGE -----*/
.image-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.image-modal img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.image-modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/*----- CONTACT PAGE -----*/
.forms{
    width: 100%;
    padding: 78px 0px;
    background-color: #2E2D2C;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
}

.form-main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#contact-header {
    display: flex;
    flex-direction: column;
    background-color: #2E2D2C;
    color: #FFB55E;
    text-align: left;
    align-items: flex-start;
}

#contact-header h2 {
    white-space: nowrap; 
    font-size: 30px;
}

#contact-header p {
    white-space: nowrap; 
}

.contact-info {
    display: flex;
    font-size: 20px;
    background-color: #2E2D2C;
    letter-spacing: 1px;
    line-height: 28px;
    color: #D9D9D9;
    text-align: left;
    margin-top: 2rem;
    border: 2px solid #FFB55E;
    border-radius: 10px; 
    padding: 20px;
}

#contact {
    display:flex;
    justify-content: center;
    background-color: #2E2D2C;
    padding-bottom: 60px;
    width: 100%;
}
#contact .form {
    color: #FFB55E;
    box-sizing: border-box;
    border: none;
    background-color: #414141;
    border-radius: 20px;
    padding: 20px;
    width: 200%;
    margin: 0 auto;
}

#contact .form .form-group {
    border-radius: 20px;
    margin: 4px ;
}

#contact .form-group label {
    font-size: 26px;
}

#contact .form-group input {
    font-size: 18px;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding-left: 10px;
    line-height: 20px;
}

#contact .form-group textarea {
    font-size: 18px;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding-left: 10px;
    line-height: 20px;
    resize: none;
    padding-top: 10px;
}

#contact .form-group textarea::placeholder {
    color: #6d6d6d;
    text-decoration: none;
    margin-top: 1rem;
}

#contact .form-group textarea {
    height: 8rem;
}

#contact .form-group input, #contact .form-group textarea {
    font-family: 'Playfair Display', serif; 
    color: #000000; 
}

#contact .form-group input::placeholder, #contact .form-group textarea::placeholder {
    font-family: 'Playfair Display', serif; 
    color: #6d6d6d; 
}

#contact .btn {
    font-weight: bold;
    color: #2E2D2C;
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFB55E;
}

#contact .btn:hover {
    background: #FFD29E;
    border: 2px solid #FFD29E;
    cursor: pointer;
}

/*------ FOOTER ------*/
footer {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #414141;
    color:#D9D9D9;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

